
@import "buttons"
@import "image"
@import "text"
@import "twitter"
@import "carousel"
@import "share"
@import "hamburger"

#page
  width: 100%
  min-width: 314px
  margin: 0 auto
  padding: 0px
  > div
      border-style: 5px solid

.view
  clear: both
  > div
    max-height: 100vh
    //margin-bottom: 0.5vh
    padding: 0px
    height: auto
    background: #000000
    color: #ffffff

.footer
  background: #000000
  color: #ffffff
  text-align: center
  font: 18px/normal Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif







//END
