#buttons {
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 534px;
  border: 1px solid #000;
  overflow: auto; }
  #buttons div {
    padding: 0px;
    margin: 0px;
    float: right; }

.mainButton {
  font: 15px /normal Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  width: 90px;
  padding: 8px;
  background-color: #ffad33;
  color: #ffffff;
  border: 1px solid; }
  .mainButton:hover {
    background-color: #cc7a00; }

#Image {
  background: #0C0C0C;
  margin-bottom: 0.5vh; }
  #Image img {
    display: block;
    margin: 0 auto;
    height: 400px; }
    #Image img:hover {
      animation-play-state: running; }

#Text {
  padding: 5%;
  font-family: "Tahoma", Geneva, sans-serif;
  font-size: 1.1em; }
  #Text h1 {
    text-align: center; }
  #Text p {
    text-align: justify; }

#Twitter {
  background: #ffffff;
  border: 6px solid #000000;
  text-align: center;
  height: auto;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  font-size: 0.8em; }
  #Twitter > div {
    padding: 0 4% 4%;
    margin: auto; }
  #Twitter .tw-logo {
    margin: 2%;
    height: auto;
    width: 65vmin; }
  #Twitter .user {
    vertical-align: top;
    display: inline-block;
    padding: 2%;
    margin: 2%;
    max-width: 30vmin;
    text-align: center; }
    #Twitter .user h3 {
      margin: 15% 0 0; }
    #Twitter .user h4 {
      margin: 1% 0 0; }
    #Twitter .user img {
      box-shadow: 0 0 0 4px #ffffff, 0 0 0 8px #00ccff;
      border-radius: 16%;
      height: auto;
      width: 20vmin;
      display: block;
      margin: auto; }

#Carousel .slider-slide {
  vertical-align: middle !important; }

#Carousel img {
  height: auto;
  width: 80vmin;
  display: block;
  margin: auto; }

#Share {
  color: #000000;
  background: #ffffff;
  border: 6px solid #000000;
  padding: 3%;
  text-align: center;
  min-height: 50vh; }
  #Share div {
    margin: auto; }
  #Share .fb-logo {
    margin-bottom: 1%;
    height: auto;
    width: 70vmin; }
  #Share .share-img-big {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 6px #3366cc;
    margin: 2% auto;
    display: block;
    width: auto;
    max-height: 53vh; }
  #Share .share-img-small {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 6px #3366cc;
    margin: 30px auto;
    display: block;
    height: auto;
    max-width: 270px;
    max-width: 83vw; }
  #Share button {
    border-color: #29447e #29447e #1a356e;
    color: #fff;
    background-color: #5B74A8;
    background-image: linear-gradient(#637bad, #5872a7);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    padding: 0.4em 0.9em 0.475em;
    border: 1px solid #999;
    font: bold 18px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
    margin-bottom: 4%; }

.bm-menu-wrap {
  width: 50vw;
  height: 100vh; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  right: 30px;
  top: 30px; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
  border: 0.8px solid #000;
  border-radius: 2px; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7; }

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  -webkit-user-select: none;
  font-size: 1.5em;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
  padding: 0.4em; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }

.menu-item {
  padding: 0.5em 0.1em;
  border-bottom: 2px solid #bdc3c7; }
  .menu-item:active {
    background: #173a49; }

body {
  margin: 0px;
  padding: 0px;
  border: 0px; }
  body * {
    box-sizing: border-box; }

#page {
  width: 100%;
  min-width: 314px;
  margin: 0 auto;
  padding: 0px; }
  #page > div {
    border-style: 5px solid; }

.view {
  clear: both;
  position: relative; }
  .view > div {
    max-height: 100vh;
    padding: 0px;
    height: auto;
    background: #000000;
    color: #ffffff; }

.footer {
  background: #000000;
  color: #ffffff;
  text-align: center;
  font: 18px/normal Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif; }
